<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="snapshot" [hidden]="false">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label class="tab-title">Snapshot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" [hidden]="false">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label class="tab-title">Categories</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="user">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label class="tab-title">Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offer">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label class="tab-title">Form</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
